@charset"UTF-8";
@import url(style_Reset.css);

div#wrap {
    width: 1015px;
    margin: 0 auto;
}

div#main {
    width: 815px;
}

div#gnbMenu {
    width: 200px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

div#gnbMenu li {
    width: 160px;
    height: 50px;
    font-size: 15px;
    padding: 15px;
    background-color: #d7ebf2;
    border: 1px solid #000;
}

div#gnb :not(:last-child) {
    border-bottom: none !important;
}

#headerImg {
    padding: 15px 0px;
}
div#slide{
    width: 815px;
    position: relative;
}
div#slide img{
    width: 815px;
}
div#slide span{
    width: 400px;
    padding: 18px;
    border-radius: 15px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.75);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contents {
    margin-top: 10px;
    margin-bottom: 15px;
    justify-content: space-around;
}

#contents button {
    padding: 5px 8px;
    margin-left: 25px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #cfcfcf;
    background-color: #eee;
    border-bottom: #eee;
    position: relative;
    top: 1px;
}

#contents table {
    width: 300px;
    height: 150px;
    padding: 2px;
    align-items: center;
    border: 1px solid #cfcfcf;

}
#notice, #gallery{
    width: 300px;
    padding-right: 10px;
}

#contents #contentsImg {
    width: 180px;
    height: 160px;
    padding-top: 10px;
    padding-right: 10px;
    margin: 0;
}

#notice td {
    font-size: 15px;
}

#footer {
    width: 815px;
    height: 100px;
    align-items: center;
}


footer a {
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

footer #componyInfo{
    padding-top: 8px;
    width: 411px;
    line-height: 25px;
}
#footer address {
    font-style: italic;
    padding-bottom: 10px;
}

#footer #familySite {
    width: 200px;
    text-align: center;

}
#footer #familySite select{
    font-size: 20px;
    font-weight: bold;
}
